body{
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/* h1{
    text-align: center;
} */

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    width: 20%;
    margin: auto;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
li{ 
    margin: 10px;
    padding: 15px;
    list-style-type: none;
    
}
li > a{
    text-decoration: none;
    color: rgb(27, 28, 29);
    font-size: 20px;
}
li > a:hover {
    background-color: darkgray;
    border-radius : 10px;
    padding: 10px;
}
input{
    font-size: 16px;
    border-radius: 10px;
    margin:5px;
    padding: 5px;
}
main{
    top: 0;
    width: 100%;
    height:max-content;
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: rgb(166, 162, 162);
    text-align: center;
}
section{
    padding-bottom: 600px;

}
#home-images, #trending-images, #new-images, #top-100-images, #liked-images{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
